/***************************************************************/
/*       Definition of the background color of the slides      */
/***************************************************************/
$bg-color1: #318B84;
$bg-color2: #002838;
$bg-color3: #F5CDC7;
$bg-color4: #4698A8;
$bg-color5: #3E43A4;
$bg-color6: #146755;
$bg-color7: #464966;
$bg-color8: #FFCE9B;
$bg-color9: #008894;
$bg-color10: #F2F2F2;

/***************************************************************/
/*                  Definition of text colors                  */
/***************************************************************/
$color1: #F6D575;
$color2: #FF5D4B;
$color3: #4E00DC;
$color4: #FAAD00;
$color5: #FF8C5C;
$color6: #FDC7F3;
$color7: #D0776D;
$color8: #007720;
$color9: #00343A;
$color10: #FF0000;

/***************************************************************/
/*                            Fonts                            */
/***************************************************************/
body {
    font-family: 'Rakkas', cursive;
}

/***************************************************************/
/*                           Headers                           */
/***************************************************************/
//The goal here is to have the content on the right side of the
//icons nicely left-aligned, and the icons themselves centered.
h2 i {
    min-width: 120px;
    text-align: center;
}

//On small screens, reduce header size.
@media (max-width: 768px) {
    h2 {
        font-size: 1em;
    }
    .display-1 {
        font-size: 3em;
    }
    .display-4 {
        font-size: 2em;
    }
}

/***************************************************************/
/*                            Images                           */
/***************************************************************/
img {
    width: 80%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

/***************************************************************/
/*                          Animations                         */
/***************************************************************/
//We want to have the "Please scroll" item floating on the page.
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float {
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

/***************************************************************/
/*                          Navigation                         */
/***************************************************************/
//The purpose is to have the primary navigation overlapping the
//slides on the upper right corner of the screen.
.nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0);
}

//We don't want to display the secondary navigation on small screens.
#pp-nav {
    @media (max-width: 768px) {
        display: none;
    }
}

/***************************************************************/
/*                    Sections specification                   */
/***************************************************************/
//We create a mixin to make repetitive declarations easier.
@mixin section-def($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
    img {
        border: 20px solid $color;
    }
}

//We apply the mixin to all 10 sections.
.section1 {
    @include section-def($bg-color1, $color1);
}

.section2 {
    @include section-def($bg-color2, $color2);
}

.section3 {
    @include section-def($bg-color3, $color3);
}

.section4 {
    @include section-def($bg-color4, $color4);
}

.section5 {
    @include section-def($bg-color5, $color5);
}

.section6 {
    @include section-def($bg-color6, $color6);
}

.section7 {
    @include section-def($bg-color7, $color7);
}

.section8 {
    @include section-def($bg-color8, $color8);
}

.section9 {
    @include section-def($bg-color9, $color9);
}

.section10 {
    @include section-def($bg-color10, $color10);
}